div{
   color: red; 
   background-color: yellow;
   border: 1px solid black;
  padding: 10px;
  margin: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  width: 200px;
  
}
